<div id="<%= dom_id invitation %>">
  <p>
    <strong>Sender:</strong>
    <%= invitation.sender_id %>
  </p>

  <p>
    <strong>Recipient email:</strong>
    <%= invitation.recipient_email %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= invitation.event_id %>
  </p>

</div>
